


<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h1 class="h4">
          Update Project Task
        </h1>
        <hr>
      </div>
    </div>
    <div class="row" >
      <div class="col-5">
        
        <form>
          <div class="from-group"> 
        <label for="name">Project Task Id</label>
        <input type="text" name="id" id="" class="form-control" placeholder="Enter Task Id" required [(ngModel)] = "id">&nbsp;
        
    </div>
    <br>
    <div class="from-group">
    <button (click)="viewTask()" class="btn btn-primary btn-md">Get Project Task</button>
    </div>
    <br>
    </form>
    </div>
    <form>
    <div *ngIf="flag">
        <div class="from-group">
        
            
            <label for="name">Project Task Summary</label>
            <input type="text"   name="projectTask.summary" id="" class="form-control" placeholder="Enter Task summary"  required [(ngModel)] = "projectTask.summary">&nbsp;
                
  
            </div>
            <br>
            <div class="form-group">
            
                <label for="name">Backlog ID</label>
                <input type="text"   name="projectTask.backlog.bid" id="" class="form-control" placeholder="Enter unique identifier" required pattern="[A-Z]{2}[1-9]{1}" [(ngModel)] = "projectTask.backlog.bid" readonly>&nbsp;
  
            </div>
            <br>
            <div class="form-group">
                <label for="name">Task Identifier</label>
                <input type="text"   name="projectTask.backlog.projectIdentifier" id="" class="form-control" placeholder="Enter start date" required [(ngModel)] = "projectTask.backlog.projectIdentifier" readonly>&nbsp;
               
  
            </div>
            
            <br>
            <div class="form-group">
                <label for="name">Acceptance Criteria</label>
                <input type="text"   name="projectTask.acceptanceCriteria" id="" class="form-control" placeholder="Enter acceptance criteria" required [(ngModel)] = "projectTask.acceptanceCriteria">&nbsp;
                
  
  
            </div> 
            
            <br>
            <div>
                <label for="name">Task Priority</label>
                <input type="text"   name="projectTask.priority" id="" class="form-control" placeholder="Enter end date" required pattern="[1-9]{1}" [(ngModel)] = "projectTask.priority">&nbsp;
            </div>
            <br>

            <div>
                <label for="name">Task Status</label>
                <input type="text"   name="projectTask.status" id="" class="form-control" placeholder="Enter task status" required  [(ngModel)] = "projectTask.status">&nbsp;
            </div>
            <br>

            <div class="form-group">
                <label for="name">Task Created At</label>
                <input type="text"   name="projectTask.createdAt" id="" class="form-control" placeholder="Enter creation date" required [(ngModel)] = "projectTask.createdAt">&nbsp;
  
  
            </div>
            <br>

            <div class="form-group">
                <label for="name">Task Due Date</label>
                <input type="text"   name="projectTask.dueDate" id="" class="form-control" placeholder="Enter due date" required [(ngModel)] = "projectTask.dueDate">&nbsp;
  
  
            </div>
            <br>
            <div>
                <label for="name">Task Updated At</label>
                <input type="text"   name="projectTask.updatedAt" id="" class="form-control" placeholder="Enter updated date" required [(ngModel)] = "projectTask.updatedAt">&nbsp;
            </div>
            <br>
            
            <div class="from-group">
                 <button (click)="updateTask()" class="btn btn-primary btn-md"><i class="fa fa-edit">&nbsp;</i>Update Project Task</button>
            </div>
            
        
      </div>
    </form>







