


<body>
    <div class="background">
        <div class="topnav">
            <h1>User Dashboard</h1>
          </div>
    <div class="buttons">
        <div class="row1">
    
    <button class="glow-on-hover" [routerLink]="['/adduser']" type="button">ADD USER</button>
    <button class="glow-on-hover" [routerLink]="['/updateuser']" type="button">UPDATE USER</button>
    <button class="glow-on-hover" [routerLink]="['/deleteuser']" type="button">DELETE USER</button>
        </div>   
        <div class="row2">
    <button class="glow-on-hover" [routerLink]="['/viewusers']" type="button">VIEW USERS</button>
    <button class="glow-on-hover" [routerLink]="['/viewdevelopers']" type="button">VIEW DEVELOPERS</button>
    <button class="glow-on-hover" [routerLink]="['/viewusertoadmin']" type="button">VIEW USERS TO ADMIN</button>
        </div>
    </div>
    </div>
</body>