*{
    margin:0;
    padding:0;
}
.background{
    background-image: url("https://i.im.ge/2021/10/19/o2iEKG.gif") ;
    background-repeat: no-repeat; 
    background-size:cover;
    height: 757px;
}
	
.topnav {
	overflow: hidden;
	background-color: #333;
	background: rgba(27, 27, 27, 0.7)!important;
  }
 


  @import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

  @import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

  h1 {
	font-size: calc(20px + 5vh);
	line-height: calc(20px + 10vh);
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
	  0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
	color: #fccaff;
	text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
	  color: #fff6a9;
	font-family: "Sacramento", cursive;
	text-align: center;
	animation: blink 12s infinite;
	-webkit-animation: blink 12s infinite;
  }
  /* .row1{
	  display: grid;
  } */

  button {
	  margin:20px ;
  }
  
.buttons{
	margin-top: 220px;
	margin-left: 600px;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: rgb(67, 216, 67)
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}