


<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h1 class="h4">
          Backlog List
        </h1>
       
        
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <table class="table table-sm table-primary">
            <thead class="table-success" style="border:5px double">
              <tr>
                  <th>Backlog ID</th>
                  <th>PT Sequene/th>
                  <th>Backlog Identifier</th>
                
              </tr>
          </thead>
          <tbody style="border:5px double">
            <tr *ngFor = "let b of backlogs" style="border:5px double">
              
          
              <td>{{b.bid}}</td>
              <td>{{b.ptSequence}}</td>
              <td>{{b.projectIdentifier}}</td>
            </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>

