<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <h1 class="h4">
          View Task By Identifier
        </h1>
        <hr>
      </div>
    </div>
    <div class="row" >
      <div class="col-5">
        
        <form #frm="ngForm" >
           
                <label for="id">Task Identifier</label>
                <input type="text" #id="ngModel" name="projectTask.backlog.projectIdentifier" id="" class="form-control" placeholder="Enter Task Identifier" required [(ngModel)] = "projectTask.backlog.projectIdentifier">&nbsp;
                <div class="from-group" *ngIf="id.invalid" class="alert alert-danger">Enter 3 digit task identifier
            </div>
        

        <div class="from-group">
            <button type="submit"[disabled]="frm.invalid" (click)="viewTaskByIdentifier()" class="btn btn-primary btn-md">Get Tasks</button>
       </div>
        </form>
<br><br>
<form>

    <div *ngIf="flag">
        <table border="2"  class="table table-hover">
            <tr>
                <th>Project Task ID</th>
                <th>Project Summary</th>
                <th>Backlog ID</th>
              <th>Project Identifier</th>
              <th>Acceptance Criteria</th>
              <th>Task Priority</th>
              <th>Task Status</th>   
              <th>Task Created At</th>
              <th>Task Due date</th>       
              <th>Task Updated At</th>        
            </tr>
            <tr *ngFor = "let p of projectTasks" style="border:5px double">
              
          
                <td>{{p.ptsk_Id}}</td>
                <td>{{p.summary}}</td>
                <td>{{p.backlog.bid}}</td>
                <td>{{p.backlog.projectIdentifier}}</td>
                <td>{{p.acceptanceCriteria}}</td>
                <td>{{p.priority}}</td>
                <td>{{p.status}}</td>
                <td>{{p.createdAt}}</td> 
                <td>{{p.dueDate}}</td> 
                <td>{{p.updatedAt}}</td> 
              </tr>
        
        </table>
        </div>
    </form>
